@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background-color: #363435;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/* Top Sidebar */
.Side {
    width: 1700px;
    height: 125px;
    background-color: #52504d;
    opacity: 5;
    /*  */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Logo */

.logo {
    padding-top: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 355px;
    height: 80px;
}

.logo_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.logo_text {
    margin-top: 15px;
    color: #0b1bf6;
    text-shadow: 0 -1px 1px #9dcaed,
        0 -2px 2px #719dde,
        0 -3px 3px #5074d7,
        0 -10px 20px #3761f8,
        0 -20px 30px #1d2ff3;
    font-size: 45px;
    margin-left: 15px;
}

/* hom */
.home_div {
    margin-top: 30px;
}


.Home_btn {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(32, 136, 255);
    background: linear-gradient(0deg, rgb(7, 177, 255) 0%, rgb(61, 47, 255) 100%);
}

.Home_btn:hover {
    color: #03c4ff;
    background: transparent;
    box-shadow: none;
}

.Home_btn:before,
.Home_btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #3e09ff;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}


.Home_btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.Home_btn:hover:before,
.Home_btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/* all page */
.main_content {
    width: 1700px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: #03c4ff;
}

.content_img_text {
    display: flex;
    flex-direction: row;
    width: 1700px;
    height: 500px;
}

.content_img {
    width: 400px;
    height: 400px;
    margin-left: 50px;
}

.content_text {
    margin-top: 35px;
    margin-left: 100px;
}

/*  */
.title {
    font-size: 55px;
}

.price {
    font-size: 35px;
}

.price_s {
    font-size: 30px;
}

.join {
    margin-top: 30px;
}


.join {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(32, 136, 255);
    background: linear-gradient(0deg, rgb(7, 177, 255) 0%, rgb(61, 47, 255) 100%);
}

.join:hover {
    color: #03c4ff;
    background: transparent;
    box-shadow: none;
}

.join:before,
.join:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #3e09ff;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}


.join:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.join:hover:before,
.join:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/*  */
.descr {
    margin-left: 50px;
}

.descr_txt {
    font-size: 45px;
}

.descr_com {
    font-size: 35px;
}

.descr_bon {
    font-size: 35px;
}